
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
 /*PAGINA INICIAL FORMATO CELULAR*/
body{
    font-family: sans-serif;
    background: black;
    box-sizing: content-box;
}

header{
    width: 100%;
    height: 55px;/*ancho barra menu*/
    background: linear-gradient(0deg, #EA2222, #EA2222);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.container{
    width: 98%;
    margin: auto;
}
h1 {
    float: right;
}

input{
    font-weight: bold;
    font-size: 15px;
    margin-right: 30px;
}
 
#menu-bar{
    display: none;
}
#inicio{
    display: none;
}
#tipo{
    display: none;
}
#debilidad{
    display: none;
}
.type{
    display: none;
}

.icons{
    height: 30px;
    width: 30px;
    position: absolute;
    margin-top: -14px;
}
.icons2{
    height: 33px;
    width: 37px;
    position: absolute;
    margin-top: -14px;
}

p{
    margin-left: 50px;
}

.paragraph{
    margin-left: 0px;

}
.weaknesses{
    display: none;
}
.order{
    display: none;
}

header label{
    float: left;
    font-size: 28px;
    margin:10px 15px;
    cursor: pointer;
}

.menu{
    position: absolute;
    background: linear-gradient(0deg, #EA2222, #EA2222);
    box-sizing: border-box;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    /*background: rgba(51, 51, 51, 0.9);*/
    transition: all 0.8s;
    transform: translateX(-100%);
}

header.container{
    display: table;
}

.icon{
    height: 30px;
    width: 30px;
  
}

.iconsModal{
    height: 30px;
    width: 30px;
    margin-left: 0px;
    margin-right: 5px;

}


a:link{
    text-decoration:none;

}
li a {
    margin-top: 30px;
}

a{
    color:white;
}

.menu li {
    display: block;
    color: white;
    height: 35px;
    text-decoration: none;
    padding: 18px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.submenu{
    margin-left: -18px;
    position: absolute;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    transition: opacity 1.05s;
}
.submenu2{
    margin-left: -18px;
    position: absolute;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    transition: opacity 1.05s;

}
.submenu3{
    margin-left: -18px;
    position: absolute;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    transition: opacity 1.05s;
}
.submenu li{
    display: block;
    padding: 5px;
    background: linear-gradient(0deg, #EA2222, #EA2222);
}
.submenu2 li{
    display: block;
    padding: 5px;
    background: linear-gradient(0deg, #EA2222, #EA2222);
}
.submenu3 li{
    display: block;
    padding: 5px;
    background: linear-gradient(0deg, #EA2222, #EA2222);
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

.menu li:hover .submenu2{
    visibility: visible;
    opacity: 1;
}
.menu li:hover .submenu3{
    visibility: visible;
    opacity: 1;
}

.menu li:hover{
    background: rgba(63, 63, 63, 1) ;
}
#menu-bar:checked ~.menu{
    transform: translateX(0%);

}

/*se supone que desaparece el menu al apretar pero no esta funcionando
*/
#water:checked ~.menu{
    transform: translateX(0%);

}

 
 #banner{
     margin-top:50px;  
 }

 #rootFather{
    display: flex;
    flex-direction: column; 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom:1%;/*fue 1%*/ 
    padding-bottom: 20%;
  
}

 #root{
     display: flex;
     flex-direction: column;
     padding-top: 10%;
     padding-bottom: 10%;  

      
 }

/*permite que la imagen se ajuste en la version movil*/
.inicialImg{
    margin-top: -15px;
    width: 100%;
    height: 100%; 
}

/*#banner img{
    width: 100%;
    height: 100%;
    order: 1;
}
/*
#banner.contenedor{
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
}*/


#text1InitialPage{
    margin:auto;
    margin-bottom: 10%;
    width: 90%;
    height: 90%;
    background: #EA2222;
    mix-blend-mode: normal;
    border-radius: 7px;
    font-family: Arial Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #FFF9F9;
    mix-blend-mode: normal;
    justify-content: center;
}

#text2InitialPage{
    margin:auto;
    justify-content: center;
    width: 90%;
    height: 90%;
    background: #FFBB0E;
    mix-blend-mode: normal;
    border-radius: 7px;
    font-family: Arial Narrow;
    font-style: bold;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #FFF9F9;
    mix-blend-mode: normal;
}

footer{
    margin:auto;
    margin-top: 10%;
    justify-content: center;
    width: 95%;
    height: 95%;
    background: rgba(81, 80, 80, 0.85);
    mix-blend-mode: normal;
    border-radius: 7px;
    font-family: Arial;
    font-style: bold;
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #FFF8F8;
}
    
/*PAGINA TIPO FORMATO PHONE*/




#rootPokemonList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 20px;/*margen top de cuadrado semitransparente negro*/
  }



  .boxPokemon{ /* propiedades de porte y margen de caja negra semitransparente*/
    margin:40px 40px 40px 40px;
    border-radius: 30px;
    width: 240px;
    height: 240px;
    right: 50px;
  
  }

  .titlePokemon{
    font-family: Arial Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.14em;  
    color: #FFFDFD;

  }
  
  .picturePokemon{
    width: 170px;
    height: 170px;
    margin-top: 63px;/*Mover solo el mono*/
    
  }
  
  .transparentConteinerPokemon  {
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.6);
    border-radius: 30px;
  }

  .page{
    background: url(Img/foto.jpg) center;
    display: flex;          
    justify-content: center;
    align-items: center;

  }
  .rootModalPokemon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    Justify-content:center;
    margin-top: 20px;
    }
    

.transparentBackground{
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.226);
    position: absolute;
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;

}
.modal{
    background: radial-gradient(50% 50% at 50% 50%, #FD0707 2.6%, #EA2222 55.21%, #C91515 75%, #9F0606 99.48%);;
    border-radius: 22px;
    width: 330px;
    height: 330px;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.modalClose{
    background:rgba(0, 0, 0, 0.8);
    position: absolute;
    right: -20px;
    color: crimson;
    top: -20px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modalTitle {
    font-family: Arial Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.14em;
    color: #FFFDFD;
    position: absolute;
    left: 24.34%;
    right: 25.84%;
    top: 1.82%;
    bottom: 87.64%;
}

.modalInformation{            
    padding: 10px 30px;
}


.botton{
    border-radius: 30px;
    margin-top: -80px;/*Mmedidas de tamaño del boton*/
    width: 240px;
    height: 240px;
    right: 50px;
    color: rgba(63, 63, 63, 1);  
}
.botton:hover{
    background:  rgba(192, 190, 190, 0.3);
    color: white;
}



 /*PAGINA INICIAL FORMATO DESKTOP*/
@media (min-width: 880px) {
    
    .menu{
        display: flex;
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
    }


    .menu li{
        border-bottom: hidden;
        height: 1%;
        
    }

    .menu li:hover.submenu{
        visibility: visible;
        opacity:1;
        background: rgba(63, 63, 63, 1) ;

    }
    .submenu{
        margin-top: 18px;
        margin-left: -18px;
        position: absolute;
        visibility: hidden;
        width: 30%;
        opacity: 0;
        transition: opacity 1.05s;
        
    }

    .submenu2{
        margin-top: 18px;
        margin-left: -18px;
        position: absolute;
        visibility: hidden;
        width: 30%;
        opacity: 0;
        transition: opacity 1.05s;
        
    }
    .submenu3{
        margin-top: 18px;
        margin-left: -18px;
        position: absolute;
        visibility: hidden;
        width: 30%;
        opacity: 0;
        transition: opacity 1.05s;
        
    }
    .submenu3 li{
        display: block;
        padding: 10px;
        background: linear-gradient(0deg, #EA2222, #EA2222);
    }

    .submenu2 li{
        display: block;
        padding: 10px;
        background: linear-gradient(0deg, #EA2222, #EA2222);
    }
    .submenu li{
        display: block;
        padding: 10px;
        background: linear-gradient(0deg, #EA2222, #EA2222);

    }
    #banner{
        display:none;
    }

    .inicialImg{
        display: none;
    }

    #rootFather{
        display: flex;
        background-image:url(Img/imagen-inicial5.jpg) ;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding-bottom:1%;/*fue 1%*/
        
    }

    #root{
        display: flex;
        flex-direction: row;
        padding:13%;/* fue 13%*/
    }

    
   #text1InitialPage{
        margin-top: 0%;
        margin-left: -13%;
        background: rgba(0, 0, 0,.6);
        width: 40%;
        
    }
    #text2InitialPage{
        margin-top: 0%;
        margin-right: -13%;
        background: rgba(0, 0, 0,.6);
        width: 40%;
    }

    footer{
        margin-top: 15%;
        background: rgba(9, 8, 8, 0.42);
    
   }
  /*PAGINA TIPO FORMATO DESKTOP*/


    #rootPokemonList{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        margin-top: 20px;
    }

    .boxPokemon{
        margin:40px 40px 40px 40px;
        border-radius: 30px;
        width: 240px;
        height: 240px;
        right: 50px;
    }

    .titlePokemon{
        margin-left: 0px;
        font-family: Arial Narrow;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 34px;
        height: 80px;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.14em;  
        color: #FFFDFD;

    }
  
   .picturePokemon{
        width: 170px;
        height: 170px;
        margin-top: 70px;/*Mover solo el mono*/

    
    }
  
   .transparentConteinerPokemon {
        text-align: center;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0,0.6);
        border-radius: 30px;
    }

    .rootModalPokemon{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        margin-top: 20px;
    }

    .page {
        display: flex;          
        justify-content: center;
        align-items: center;    
    }
    .transparentBackground{/*Fondo queda tenuemente oscuro mientras aparece modal*/
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
      

    }
    .modal{
        background: radial-gradient(50% 50% at 50% 50%, #FD0707 2.6%, #EA2222 55.21%, #C91515 75%, #9F0606 99.48%);;
        border-radius: 22px;
        width: 470px;
        height: 430px;
        top: 55%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-evenly;
        align-items: center;
        
    }
    .modalClose{
        background:rgba(0, 0, 0, 0.8);
        position: absolute;
        right: -20px;
        color: crimson;
        top: -20px;
        width: 40px;
        height: 40px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .modalTitle {
        width: 100%;
        margin-left: -114px;
        text-align: center;
        justify-content: center;
        font-family: Arial Narrow;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 41px;
        letter-spacing: 0.14em;
        color: #FFFDFD;
 
    }

    .modalInformation{ 
        margin-top: -150px;
        margin-left: -280px;
        flex-direction: column;          
        padding: 0px 10px;
        font-family: Arial Narrow;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        display: flex;
        align-items: left;
        position: fixed;
        letter-spacing: 0.14em;
        color: #FFF8F8;  
    }


    .modalImagen{
        position: fixed;
        width: 190px;
        height: 190px;
        margin-top: -110px;
        margin-right: 0px;
        margin-left: -25px;
        background-color: white;
        border-radius: 20px;


    }


    .botton{
        border-radius: 30px;
        margin-top: -80px;/*Mmedidas de tamaño del boton*/
        width: 240px;
        height: 240px;
        right: 50px;
        color: rgba(63, 63, 63, 1);  
    }
    .botton:hover{
        background:  rgba(192, 190, 190, 0.3);
        color: white;
    }
  
}
